<html>
<head>
<style>
body {
	font-family: helvetica;
	margin: 0;
}
svg {
    background-color: none;
}
svg rect {
	fill: #000;
}
svg text {
	fill: #000;
}
svg circle {
	fill: #000;
}
</style>
</head>
<body>
<%= yield %>
</body>
</html>
